.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.preline {
    white-space: pre-line;
}

table, td, th {
    border:2px solid var(--slds-g-color-border-base-4, var(--lwc-colorBorderButtonDefault,rgb(201, 201, 201)));
    
}
th, td {
    padding:1rem;
}

ul, li{
    list-style:none;
}

.slds-vertical-tabs__content .w550 {
    /* height: 500px; */
    width:550px;
}